.App {
  min-height: 100vh;
  display: flex;
  background-color: #282c34;
  color: white;
}

.youtube-tracking, .dummy-tracking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 1em;
}

.dummy-tracking > button {
  margin: 0.5em;
  justify-content: flex-start;
}
