.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
}

.youtube-tracking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin: 1em;
}
