.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #282c34;
  color: white;
}

.content-tracking {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.content-tracking-title {
  text-align: center;
}

.periods-content>div {
  margin: 0.5em;
}

.periods-content>* .period-details {
  display: flex;
  flex-direction: column;
}

.content-tracking>* button {
  justify-content: flex-start;
  margin-bottom: 0.5em;
}